body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.wrapper {
    width: 100%;
    max-width: 480px;
    padding: 0 16px;
}

.wrapper img {
    display: block;
    width: 100%;
    height: auto;
}